<app-video></app-video>
  <div class="login-box">
    <form class="p-4">
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Usuário" required>
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" placeholder="Senha" required>
      </div>
      <button type="submit" class="btn btn-primary w-100" style="margin-bottom: 2%;">Acessar</button>
      <label class="form-label">Não tem uma Conta? <a class="form-label-href" href="cadastro" style="color: #0d6efd;">Clique aqui</a></label>
      
    </form>
  </div>